body {
    background-image: url('flight.jpg'); /* Source: iStockPhoto */
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    margin-top: 400px;
    background-color: #000;
    opacity: 0.7;
    color: #fff;
    padding: 40px;
}

.item{
    margin-top: 40px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.bottom-20 {
    margin-top: 20px;
}

h5 {
    color: #999999;
}

section {
    margin-bottom: 50px;
}

.field {
    font-weight: bold;
    text-align: right;
}

.field-value {
    color: #0e7fa8;
}

label.form {
    font-size: 14px;
    margin-right: 20px;
}

label {
    margin-right: 5px;
    margin-left: 5px;

}

input {
    margin-right: 5px;
    margin-left: 5px;

}

select {
    margin-right: 5px;
    margin-left: 5px;

}